html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* 스크롤바 제거 */
}

.app-container {
  height: 100vh;
  /* 화면 높이에 맞춤 */
  width: 100vw;
  /* 화면 너비에 맞춤 */
  display: flex;
  flex-direction: column;
  /* 자식 요소들을 세로로 정렬 */
  justify-content: space-between;
  /* 요소들 사이에 공간을 균등하게 배분 */
  background-color: #f8d7da;
  border-radius: 0;
  /* 모바일 화면에서 둥근 모서리 제거 */
  overflow: hidden;
  /* 컨테이너 밖으로 내용이 넘칠 경우 숨김 */
}

.app-footer {
  padding: 10px;
  text-align: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #F08784;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.app-logo {
  width: 50px;
  /* Adjust size as necessary */
  margin-right: 10px;
  /* Adds space between logo and title */
}

.app-title {
  font-size: 1.5em;
  color: #000;
}

.app-time {
  font-size: 0.8em;
  color: #888;
}

.header-content {
  display: flex;
  align-items: center;
}

.message-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  /* 필요에 따라 조정 */
  overflow-y: auto;
  flex: 1;
  /* 나머지 공간을 모두 차지하도록 설정 */
  overflow-y: auto;
  /* 메시지가 많아지면 스크롤 가능 */
}

.message {
  padding: 5px;
  margin-bottom: 10px;
}

.message-content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
}

.message-time {
  text-align: right;
  color: #888;
  font-size: 0.8em;
}

.app-footer button {
  background: none;
  border: none;
  cursor: pointer;
}

.voice-button img,
.smile-button img,
.send-button img {
  width: 30px;
  /* 아이콘 크기를 적절히 조정 */
}

/* 모바일 화면에서 전체 너비를 사용하도록 수정 */
@media (max-width: 600px) {
  .app-container {
    width: 95%;
    /* 좌우 여백을 주기 위해 100% 대신 95%를 사용 */
    border-radius: 0;
    /* 모바일 화면에서는 둥근 모서리를 제거 */
    position: static;
    /* 모바일 화면에서는 기본 정렬 사용 */
    transform: none;
    /* 모바일 화면에서는 변환을 적용하지 않음 */
  }
}